.alert {
  display: flex;
  flex-flow: row;
  position: fixed;
  z-index: 16;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
  padding: 17px;
  border-radius: 12px;
  min-width: calc(100% - 34px);
  max-width: calc(100% - 34px);
  bottom: calc(17px + env(safe-area-inset-top));
}
.alert_error {
  background-color: #ec4848;
}
.alert_success {
  background-color: #61c254;
}
.alert > p {
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}
.alert > svg {
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .alert {
    left: 17px;
  }
}
@media screen and (min-width: 768px) {
  .alert {
    min-width: 350px;
    max-width: 350px;
    right: 17px;
  }
}
