.section_balls_table {
  display: flex;
  flex-flow: column;
  background-color: #fff;
  padding: 8px 8px 0;
  min-width: calc(100% - 34px);
  max-width: calc(100% - 34px);
  max-height: 180px;
  margin: 0 auto 20px;
  border: solid 1px #e7e7e7;
  border-radius: 12px;
  position: relative;
  top: 70px;
}
.section_balls_table > nav {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.section_balls_table > nav > h3 {
  font-size: 16px;
  font-weight: 500;
  color: #282930;
}
.section_balls_table > nav > svg {
  color: #282930;
  min-height: 24px;
  max-height: 24px;
}

.table_body {
  display: flex;
  align-items: center;
  flex-flow: column;
  border-radius: 5px;
  gap: 25px;
  flex: 1;
  overflow-y: auto;
}
.table_column {
  display: grid;
  grid-template-columns: repeat(8, auto);
  gap: 10px;
  /* justify-content: space-between; */
  width: 100%;
}
.number {
  display: flex;
  flex-flow: column;
  align-items: center;
  min-width: 28px;
  max-width: 28px;
  min-height: 28px;
  max-height: 28px;
  border: solid 1px #c1c1c1;
  border-radius: 32px;
}
.number > span {
  font-size: 14px;
  color: #282930;
  margin: auto;
}
.number_selected {
  background-color: #32a96d;
  text-align: center;
  border: solid 1px #32a96d;
}
.number_selected > span {
  color: #fff;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .section_balls_table {
    min-width: max-content;
    max-width: max-content;
    margin: 0 auto 25px;
    min-height: max-content;
    padding-bottom: 8px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .section_balls_table > nav {
    justify-content: space-between;
    min-width: 100%;
    max-width: 100%;
  }
  .section_balls_table > nav svg {
    cursor: pointer;
  }
  .table_column {
    grid-template-columns: repeat(15, auto);
  }
  .number {
    min-width: 48px;
    max-width: 48px;
    min-height: 48px;
    max-height: 48px;
    cursor: pointer;
  }
}
