.section_ball_tables {
  display: flex;
  flex-flow: column;
  background-color: #fff;
  padding: 16px;
  min-width: 100vw;
  max-height: 180px;
  margin-left: -17px;
}
.section_ball_tables > nav {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.section_ball_tables > nav > h3 {
  font-size: 16px;
  font-weight: 500;
  color: #282930;
}
.section_ball_tables > nav > svg {
  color: #282930;
  min-height: 24px;
  max-height: 24px;
}

.table_body {
  display: flex;
  align-items: center;
  flex-flow: column;
  border-radius: 5px;
  gap: 25px;
  flex: 1;
  overflow-y: auto;
}
.table_column {
  display: grid;
  grid-template-columns: repeat(8, auto);
  gap: 10px;
  /* justify-content: space-between; */
  width: 100%;
}
.number {
  display: flex;
  flex-flow: column;
  align-items: center;
  min-width: 28px;
  max-width: 28px;
  min-height: 28px;
  max-height: 28px;
  border: solid 1px #c1c1c1;
  border-radius: 32px;
}
.number > span {
  font-size: 14px;
  color: #282930;
  margin: auto;
}
.number_selected {
  background-color: #ff7101;
  text-align: center;
  border: solid 1px #ff7101;
}
.number_selected > span {
  color: #fff;
  font-weight: 500;
}
