.number_selected {
  background-color: #32a96d;
  color: #fff !important;
  text-align: center;
  padding: 3px;
  min-width: 21px;
  max-width: 21px;
  min-height: 21px;
  max-height: 21px;
  border-radius: 21px;
}
.number_selected_2 {
  background-color: #5fce1f !important;
  font-weight: bold;
  animation: zoomInOut 1s ease-in-out infinite;
}
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    tranform: scale(1);
  }
}
.joker > svg {
  color: #32a96d;
  width: 16px;
  height: 16px;
  position: relative;
  top: 1px;
  left: -0.7px;
}
