.card {
  display: flex;
  flex-flow: column;
  gap: 5px;
  border: solid 1px #c7c7c7;
  border-radius: 8px;
  /* padding: 5px; */
  min-width: 152px;
  max-width: 152px;
  background-color: #fff;
  max-height: 214px;
  order: 2;
  padding: 4px;
}
.good_card {
  order: 1;
}
.card_header {
  display: flex;
  align-items: center;
}
.card_header > p {
  font-size: 12px;
  font-weight: 500;
  margin-left: 5px;
}
.card_header > span {
  font-size: 10px;
  margin: 0 0 0 auto;
  color: #515151;
}

.card_letters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card_letters > strong {
  font-size: 16px;
  color: #282930;
  font-weight: 800;
  min-width: 28px;
  max-width: 28px;
  text-align: center;
}
.card_options {
  display: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  min-height: 162px;
  max-height: 162px;
}
.card_options > button {
  min-height: 36px;
  max-height: 36px;
  min-width: 36px;
  max-width: 36px;
  border-radius: 36px;
  border: none;
  background-color: transparent;
}
.card_options > button:nth-of-type(1) > svg {
  color: #282930;
}
.card_options > button:nth-of-type(2) > svg {
  color: #282930;
}

.card_body {
  display: none;
  align-items: center;
  /* border: solid 1px #c1c1c1; */
  border-radius: 2px;
  justify-content: space-between;
}
.show_edit_card {
  display: flex;
}
.show_body {
  display: flex;
}
.card_column {
  display: flex;
  flex-flow: column;
  min-width: 28px;
  max-width: 28px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.card_column > li {
  display: flex;
  flex-flow: column;
  align-items: center;
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
}
.card_column > li > span {
  font-size: 12px;
  color: #282930;
  margin: auto;
  /* border: solid 1px #e7e7e7; */
}
@media print {
  .card {
    break-inside: avoid !important;
    page-break-inside: avoid !important;
    break-after: auto !important;
    page-break-after: auto !important;
    height: 60mm !important; /* Altura fixa baixa pra caber 4 por folha */
    margin-bottom: 5mm !important;
    box-sizing: border-box !important;
  }

  * {
    /* Força o navegador a imprimir cores e backgrounds exatos */
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
