.card {
  display: flex;
  flex-flow: column;
  gap: 5px;
  border: solid 1px #c7c7c7;
  border-radius: 8px;
  /* padding: 5px; */
  min-width: 146px;
  max-width: 146px;
  background-color: #fff;
  max-height: 205px;
}
.card_header {
  display: flex;
  align-items: center;
}
.card_header > p {
  font-size: 12px;
  font-weight: 500;
  margin-left: 5px;
}

.card_letters {
  display: flex;
  align-items: center;
}
.card_letters > strong {
  font-size: 16px;
  color: #282930;
  font-weight: 800;
  min-width: 28px;
  max-width: 28px;
  text-align: center;
}
.card_body {
  display: flex;
  align-items: center;
  /* border: solid 1px #c1c1c1; */
  border-radius: 2px;
}
.card_column {
  display: flex;
  flex-flow: column;
  min-width: 28px;
  max-width: 28px;
  text-align: center;
}
.card_column > li {
  display: flex;
  flex-flow: column;
  align-items: center;
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
}
.card_column > li > span {
  font-size: 12px;
  color: #282930;
  margin: auto;
  /* border: solid 1px #e7e7e7; */
}
@media print {
  .card {
    break-inside: avoid !important;
    page-break-inside: avoid !important;
    break-after: auto !important;
    page-break-after: auto !important;
    height: 60mm !important; /* Altura fixa baixa pra caber 4 por folha */
    margin-bottom: 5mm !important;
    box-sizing: border-box !important;
  }
}
