.header {
  display: flex;
  align-items: center;
  background-color: #fff;
  z-index: 1;
  min-height: 63px;
  max-height: 63px;
  border-bottom: none;
  /* box-shadow: 0px 6px 10px 1px #24af60; */
}
.div_header {
  display: flex;
  align-items: center;
  padding: 17px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 63px;
  max-height: 63px;
}

.header_fixed {
  position: fixed;
  border: solid 1px #e8e8e8;
}
.div_header > a > p {
  font-weight: 600;
  color: #ffffff;
  background-color: #24af60;
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
  border-radius: 32px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}
.menu_icon {
  color: #272825;
  z-index: 1;
}
.div_header > div {
  display: flex;
  flex-flow: column;
  position: relative;
  flex: 1;
}
.header_title {
  font-size: 18px;
  color: #272825;
  margin: 0 auto 0 15px;
}
.header_sub_title {
  font-size: 12px;
  color: #717171;
  margin: 0 auto 0 15px;
  position: absolute;
  top: 20px;
}
@media screen and (min-width: 768px) {
  .div_header {
    min-width: 1100px;
    max-width: 1100px;
    margin: 0 auto;
  }
  .menu_icon {
    cursor: pointer;
  }
}
