.header {
  display: flex;
  align-items: center;
  background-color: #24af60;
  z-index: 1;
  min-height: 63px;
  max-height: 63px;
  border-bottom: none;
  position: relative;
  /* box-shadow: 0px 6px 10px 1px #24af60; */
}
.header::before {
  content: "";
  min-width: 101%;
  max-width: 101%;
  min-height: 100px;
  max-height: 100px;
  background-color: #24af60;
  top: -100px;
  left: -1px;
  position: absolute;
}

.div_header {
  display: flex;
  align-items: center;
  padding: 17px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 63px;
  max-height: 63px;
}

.header_fixed {
  position: fixed;
  border: solid 1px #24af60;
}
.logo {
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
  border-radius: 32px;
}
.menu_icon {
  color: #fff;
  z-index: 1;
}
.div_header > div {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  flex: 1;
  min-height: 63px;
  max-height: 63px;
}
.header_title {
  font-size: 18px;
  color: #fff;
  margin: auto auto auto 15px;
}
.header_sub_title {
  font-size: 12px;
  color: #e7e7e7;
  position: absolute;
  top: 40px;
  left: 15px;
}
@media screen and (min-width: 768px) {
  .div_header {
    min-width: 1100px;
    max-width: 1100px;
    margin: 0 auto;
  }
  .menu_icon {
    cursor: pointer;
  }
}
