.section_new_modality {
  display: flex;
  flex-flow: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  min-width: 100%;
  max-width: 100%;
  min-height: 100dvh;
  max-height: 100dvh;
  background-color: rgba(0, 0, 0, 0.1);
}
.div_new_modality {
  display: flex;
  flex-flow: column;
  background-color: #fff;
  margin: auto 20px;
  border-radius: 12px;
  padding: 16px;
}
.div_new_modality > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div_new_modality > nav > p {
  color: #282930;
  font-weight: 500;
}
.div_new_modality > nav > svg {
  color: #282930;
  cursor: pointer;
}
