.section_new_modality {
  display: flex;
  flex-flow: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  min-width: 100%;
  max-width: 100%;
  min-height: 100dvh;
  max-height: 100dvh;
  background-color: rgba(0, 0, 0, 0.7);
}
.div_new_modality {
  display: flex;
  flex-flow: column;
  background-color: #fff;
  margin: auto 20px;
  border-radius: 12px;
  padding: 16px;
}
.div_new_modality > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.div_new_modality > nav > p {
  color: #282930;
  font-weight: 500;
}
.div_new_modality > nav > svg {
  color: #282930;
  cursor: pointer;
}

.form {
  display: flex;
  flex-flow: column;
  margin: 16px 0 0;
}
.form > input {
  min-height: 32px;
  max-height: 32px;
  border: solid 1px #e7e7e7;
  border-radius: 4px;
  outline: 0;
  padding: 0 10px;
  font-size: 16px;
  color: #282930;
  font-weight: 500;
}
.form > p {
  font-size: 14px;
  color: #282930;
  font-weight: 400;
  margin: 10px 0 0;
}
.div_pattern {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 10px;
  border: solid 1px #e7e7e7;
  border-radius: 8px;
  padding: 10px;
  justify-content: space-between;
}
.ul_pattern {
  display: flex;
  flex-flow: column;
  gap: 10px;
}
.ul_pattern li {
  min-height: 44px;
  max-height: 44px;
  min-width: 44px;
  max-width: 44px;
  border-radius: 44px;
  background-color: #f1f1f1;
}
.selected_index {
  background-color: #24af60 !important;
}
.joker {
  background-color: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #24af60;
}
.div_buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: right;
  justify-content: right;
  margin-top: 16px;
}
.div_buttons > button {
  min-width: max-content;
  max-width: max-content;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.div_buttons > button:nth-of-type(1) {
  color: #e00909;
  font-weight: 400;
}
.div_buttons > button:nth-of-type(2) {
  color: #24af60;
}

@media (min-width: 768px) {
  .div_new_modality {
    max-width: max-content;
    margin: auto;
  }
}
