.section_new_pattern {
  display: flex;
  flex-flow: column;
  position: fixed;
  width: 100%;
  height: 100dvh;
  top: 0;
  left: 0;
  padding: 17px;
  background-color: rgba(7, 7, 7, 0.7);
  z-index: 3;
}
.div_new_pattern {
  display: flex;
  flex-flow: column;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px;
  overflow: hidden;
  margin: auto;
}
.div_pattern {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 10px;
  border: solid 1px #e7e7e7;
  border-radius: 8px;
  padding: 10px;
  justify-content: space-between;
}
.ul_pattern {
  display: flex;
  flex-flow: column;
  gap: 10px;
}
.ul_pattern li {
  min-height: 44px;
  max-height: 44px;
  min-width: 44px;
  max-width: 44px;
  border-radius: 44px;
  background-color: #f1f1f1;
}
.selected_index {
  background-color: #24af60 !important;
}
.joker {
  background-color: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #24af60;
}
.div_buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: right;
  justify-content: right;
  margin-top: 16px;
}
.div_buttons > button {
  min-width: max-content;
  max-width: max-content;
  border: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.div_buttons > button:nth-of-type(1) {
  color: #e00909;
  font-weight: 400;
}
.div_buttons > button:nth-of-type(2) {
  color: #24af60;
}
