.menu_section {
  display: flex;
  flex-flow: row;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  transition:
    left 0.3s ease,
    background-color 0.7s ease;
  z-index: 15;
}
.menu_open {
  left: 0;
  display: flex;
  background-color: rgba(7, 7, 7, 0.7);
}
.menu_closed {
  left: -100vw;
  background-color: transparent;
}
.menu_div {
  display: flex;
  flex-flow: column;
  background-color: #fff;
  width: calc(100vw - 100px);
  height: 100vh;
  left: 0;
  position: relative;
  transition: left 1s ease;
}
.menu_header {
  display: flex;
  align-items: center;
  min-height: 63px;
  max-height: 63px;
  border-bottom: solid 1px #e7e7e7;
  gap: 10px;
  justify-content: center;
}
.menu_header > svg {
  color: #ff7101;
}
.menu_header > h2 {
  font-size: 18px;
  color: #282930;
}
.menu_ul {
  display: flex;
  flex-flow: column;
}
.menu_ul > li {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 16px;
}
.menu_ul > li > a {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
  text-decoration: none;
  color: inherit;
  padding: 10px;
}
.active {
  background-color: #ff7101;
}
.active svg {
  color: #fff;
}
.active span {
  font-size: 16px;
  color: #fff;
}
.menu_div_close {
  width: 100px;
  height: 100vh;
}
