.section_packs {
  display: flex;
  flex-flow: column;
  padding: 17px;
  position: relative;
  top: 63px;
}
.div_packs {
  display: flex;
  flex-flow: column;
}
.packs_title {
  font-size: 18px;
  color: #282930;
  margin: 0 0 10px 0;
  font-weight: 500;
}
.none_packs {
  font-size: 16px;
  color: #4a4b50;
  margin: 25px auto;
}
.packs {
  display: flex;
  flex-flow: column;
  gap: 10px;
  flex: 1;
}
.pack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: #fff;
  border-radius: 12px;
  padding: 10px;
  border: solid 1px oklch(93% 0 0);
}
.pack > a {
  color: #ff7101;
  text-decoration: none;
}
.pack > div {
  display: flex;
  flex-flow: column;
  color: #282930;
}
.pack > div > span {
  font-size: 12px;
  color: #6c6e79;
  margin-bottom: 10px;
}
.pack > div > p {
  font-size: 14px;
  color: #424349;
}
.button_new_pack {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: fixed;

  min-height: 32px;
  max-height: 32px;

  bottom: 35px;
  right: 17px;

  background-color: #ff7101;
  border: none;
  border-radius: 22px;
  padding: 7px 22px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  z-index: 2;
}
.button_new_pack > svg {
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
}

@media screen and (min-width: 768px) {
  .div_packs {
    min-width: 1100px;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
  }
  .button_new_pack {
    position: absolute;
    top: -8px;
    right: 0;
    z-index: 1;
    max-width: max-content;
    cursor: pointer;
  }
}
