.section_pack {
  display: flex;
  flex-flow: column;
  position: relative;
  height: calc(100dvh - 63px);
  top: 63px;
  padding: 17px;
  gap: 16px;
}
.div_actions {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  margin: 0 0 0 auto;
}
.div_actions > button {
  background-color: #ff7101;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 5px;
  color: #fff;
  gap: 5px;
}
.div_actions > button > svg {
  max-width: 16px;
}
.div_actions > button:disabled {
  background-color: #d1d1d1;
  color: #a1a1a1;
}
.cards {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  justify-content: space-around;
  margin: 0 auto;
  flex: 1;
  overflow-y: auto;
}
