.section_pack {
  display: flex;
  flex-flow: column;
  position: relative;
  height: calc(100dvh - 63px);
  top: 63px;
  padding: 17px;
  gap: 16px;
}
.div_actions {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  margin: 0 0 0 auto;
}
.div_actions > button {
  background-color: #ff7101;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 5px;
  color: #fff;
  gap: 5px;
}
.div_actions > button > svg {
  max-width: 16px;
}
.div_actions > button:disabled {
  background-color: #d1d1d1;
  color: #a1a1a1;
}
.nav_pagination {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
  background-color: #fff;
  padding: 2px;
  border-radius: 5px;
}
.nav_pagination > button {
  min-height: 34px;
  max-height: 34px;
  min-width: 34px;
  max-width: 34px;
  background-color: #ff7101;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.nav_pagination > input {
  font-size: 16px;
  color: #282930;
  margin: 0 auto;
  min-height: 34px;
  max-height: 34px;
  min-width: 34px;
  max-width: 34px;
  border: none;
  text-align: center;
  outline: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  justify-content: space-around;
  margin: 0 auto;
  flex: 1;
  overflow-y: auto;
}

.div_no_cards {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
}
.div_no_cards > p {
  font-size: 18px;
  color: #282930;
  font-weight: 500;
}
.div_no_cards > button {
  min-height: 45px;
  max-height: 45px;
  border-radius: 5px;
  border: none;
  background-color: #ff7101;
  padding: 0 10px;
  color: #fff;
}

/* Estilos aplicados APENAS na hora de gerar o PDF/Imprimir */
@media print {
  /* Esconde tudo no site que NÃO seja a área de impressão */
  @page {
    size: A4 portrait;
    margin: 10mm;
  }

  body * {
    visibility: hidden !important;
  }

  /* Exibe apenas a área das cartelas */
  .cards,
  .cards * {
    visibility: visible !important;
  }

  /* Posiciona a área de impressão no topo da folha */
  .cards {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    grid-template-columns: repeat(3, auto) !important;
  }
}
