.section_profile {
  display: flex;
  flex-flow: column;
  position: relative;
  padding: 10px;
  top: 63px;
}
.div_profile {
  display: flex;
  flex-flow: column;
  gap: 10px;
}
.div_profile h2 {
  font-size: 18px;
  color: #282930;
  margin: 16px auto;
}
.div_profile > ul {
  display: flex;
  flex-flow: column;
  gap: 10px;
}
.div_profile > ul > li {
  display: flex;
  flex-flow: column;
}
.div_profile > ul p {
  font-size: 14px;
  color: #717171;
}
.div_profile > ul span {
  font-size: 14px;
  color: #282930;
}

@media (min-width: 768px) {
  .section_profile {
    margin: 0 auto;
    min-width: 1100px;
    max-width: 1100px;
  }
}
