.section_reset {
  display: flex;
  flex-flow: column;
  position: fixed;
  height: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 100dvh;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
}
.div_reset {
  display: flex;
  flex-flow: column;
  position: relative;
  min-width: calc(100% - 32px);
  max-width: calc(100% - 32px);
  margin: 0 auto;
  padding: 16px;
  background-color: #fff;
  margin: auto 16px;
  border-radius: 10px;
}
.div_reset > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.div_reset > nav > h1 {
  font-size: 16px;
  font-weight: 500;
  color: #282930;
}
.div_reset > nav > svg {
  color: #282930;
  cursor: pointer;
}
.form_reset {
  display: flex;
  flex-flow: column;
  margin-top: 0px;
}
.form_reset > div {
  display: flex;
  flex-flow: column;
  position: relative;
}
.form_reset > div > label {
  font-size: 14px;
  color: #282930;
  font-weight: 300;
  margin-top: 20px;
}
.form_reset > div > svg {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #282930;
  cursor: pointer;
}
.form_reset > div > input {
  margin-top: 5px;
  min-height: 44px;
  max-height: 44px;
  padding: 0 10px;
  font-size: 16px;
  color: #282930;
  border: solid 1px #e7e7e7;
  border-radius: 5px;
}
.form_reset > span {
  font-size: 12px;
  font-weight: 300;
  color: #fd1d1d;
  margin-top: 5px;
}
.form_reset > button {
  min-height: 44px;
  max-height: 44px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #24af60;
}
.form_reset > button:disabled {
  background-color: #d7d7d7;
}
